langchain 
langchain-groq 
chromadb 
langchain-chroma
langchain-community
sentence-transformers
psycopg2
sqlalchemy 
pytest
smolagents
smolagents[toolkit]
smolagents[transformers]
smolagents[groq]
huggingface_hub